/* ================================
   TẠO DATABASE
================================ */
CREATE DATABASE QLRapPhim;
GO

USE QLRapPhim;
GO

/* ================================
   TẠO BẢNG
================================ */

CREATE TABLE KhachHang (
    MaKH NVARCHAR(10) PRIMARY KEY,
    TenKH NVARCHAR(30) NOT NULL,
    GioiTinh BIT NOT NULL
);

CREATE TABLE Phong (
    MaPhong NVARCHAR(20) PRIMARY KEY,
    TenPhong NVARCHAR(20) NOT NULL
);

CREATE TABLE Phim (
    MaPhim NVARCHAR(10) PRIMARY KEY,
    TenPhim NVARCHAR(50) NOT NULL,
    ThoiLuong INT NOT NULL,
    GiaTien FLOAT NOT NULL,
    AnhPoster NVARCHAR(MAX) NOT NULL,
    GioChieu NVARCHAR(20)
);

CREATE TABLE LichChieuPhim (
    MaLichChieu NVARCHAR(10) PRIMARY KEY,
    MaPhong NVARCHAR(20) NOT NULL,
    MaPhim NVARCHAR(10) NOT NULL
);

CREATE TABLE Ghe (
    MaGhe NVARCHAR(10) PRIMARY KEY,
    SoGhe NVARCHAR(10) NOT NULL,
    TrangThai BIT NOT NULL,
    MaLichChieu NVARCHAR(10) NOT NULL
);

CREATE TABLE HoaDon (
    MaHD VARCHAR(20) PRIMARY KEY,
    NgayTao DATE NOT NULL,
    TongTien FLOAT NOT NULL,
    MaKH NVARCHAR(10) NOT NULL,
    MaVe NVARCHAR(10) NOT NULL
);

CREATE TABLE TaiKhoan (
    TenDangNhap NVARCHAR(20) PRIMARY KEY,
    MatKhau NVARCHAR(20) NOT NULL
);

GO
INSERT [dbo].[Ghe] ([MaGhe], [SoGhe], [TrangThai], [MaLichChieu]) VALUES (N'01', N'A01', 1, N'01')
INSERT [dbo].[Ghe] ([MaGhe], [SoGhe], [TrangThai], [MaLichChieu]) VALUES (N'02', N'A02', 1, N'01')
INSERT [dbo].[Ghe] ([MaGhe], [SoGhe], [TrangThai], [MaLichChieu]) VALUES (N'03', N'A03', 0, N'01')
GO
INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [TongTien], [MaKH], [MaVe]) VALUES (N'HD445745', CAST(N'2024-11-18' AS Date), 120000, N'0896496094', N'03')
INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [TongTien], [MaKH], [MaVe]) VALUES (N'HD673238', CAST(N'2024-11-18' AS Date), 120000, N'0896496094', N'03')
INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [TongTien], [MaKH], [MaVe]) VALUES (N'HD830120', CAST(N'2024-11-18' AS Date), 120000, N'0896496094', N'04')
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [GioiTinh]) VALUES (N'0178964368', N'pham tuan', 0)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [GioiTinh]) VALUES (N'0299775422', N'như ý', 1)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [GioiTinh]) VALUES (N'0389097035', N'fasdjfbs ', 1)
GO
INSERT [dbo].[LichChieuPhim] ([MaLichChieu], [MaPhong], [MaPhim]) VALUES (N'01', N'01', N'01')
INSERT [dbo].[LichChieuPhim] ([MaLichChieu], [MaPhong], [MaPhim]) VALUES (N'02', N'02', N'02')
INSERT [dbo].[LichChieuPhim] ([MaLichChieu], [MaPhong], [MaPhim]) VALUES (N'03', N'03', N'03')
GO
INSERT [dbo].[Phim] ([MaPhim], [TenPhim], [ThoiLuong], [GiaTien], [AnhPoster], [GioChieu]) VALUES (N'01', N'Cám', 90, 60000, N'Image\\phim1.jpg', N'20h21')
INSERT [dbo].[Phim] ([MaPhim], [TenPhim], [ThoiLuong], [GiaTien], [AnhPoster], [GioChieu]) VALUES (N'02', N'Lật Mặt 7', 90, 60000, N'Image\\phim2.jpg', N'16h30')
INSERT [dbo].[Phim] ([MaPhim], [TenPhim], [ThoiLuong], [GiaTien], [AnhPoster], [GioChieu]) VALUES (N'03', N'Hai Muối', 90, 60000, N'Image\\phim3.jpg', N'8h40')
GO
INSERT [dbo].[Phong] ([MaPhong], [TenPhong]) VALUES (N'01', N'Phòng A')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong]) VALUES (N'02', N'Phòng B')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong]) VALUES (N'03', N'Phòng C')

